/* * {
    border: 1px solid red;
} */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('fonts/IntroDemoCond-BlackCAPS.otf');

.body {
    max-width: 90%;
}

.header {
    max-width: 100vw;
    min-height: 40px;

    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: space-between;
}

.header-hr {
    color: rgb(243, 243, 243);
}

.header__logo-container {
    max-width: 50%;
    width: 50%;

    padding-top: 4px;
    padding-left: 1%;

    display: flex;
    align-items: center;
    justify-content: left;
}

.logo-pic {
    max-width: 10%;
    width: 10%;

    object-fit: contain;
}

.header__name-container {
    max-width: 60%;
    width: 60%;

    display: flex;
    justify-content: left;
    align-items: center;

    font-size: 18px;
}

.name {
    padding-top: 6px;
color: gray;
}

.main {
    position: relative;
    max-width:100%;

    overflow-y: hidden;
}

.main-background {
    position: absolute;
    right: 0%;
    top: 5%
}

.backgound-pic {
    max-width: 100vw;
    max-height: 80vh;
}

.background-guy {
    max-height: 75vh;
    max-width: 95vw;

    right: 10%;
}

.main-content {
    min-height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    font-family: 'Work Sans', sans-serif;
}

.main-content__cart {
    position: relative;
    display: block;
}

.button-cart {
    border-radius: 100px;

    background-color: #5222D0;
    border: none;

    font-weight: 700;
    color: white;
}

.button-cart-sm {
    position: absolute;

    top: 5%;
    right: 10%;

    min-height: 8%;
    width: 16%;

    font-size: 1vw;
}

.main-content__about {
    position: relative;
    display: grid;
    grid-template-rows: 10% 90%;
}

.main-content__company-name {
    max-width: 100vw;
    padding-left: 3%;
    
    display: flex;
    align-items: center;
    }

.company-name__logo {
    max-width: 5vw;
}

.company-name__text {
    padding-left: 2%;
    font-weight: 800;
    font-size: 1.5vw;
}

.main-content__information {
    display: grid;
    grid-template-rows: 1fr 30% 30%;
    min-height: 80%;
    max-width: 70%;

    padding-left: 10%;
}

h1, h2, p {
    margin: 0;
}

.information-title {
font-size: 3.2vw;
font-weight: 800;
line-height: 72px;

font-family: 'Work Sans', sans-serif;
}

.head {
    padding-top: 8%;
    word-wrap: break-word;
}

.information-subtitle {
    font-weight: 300;
    font-size: 1.5vw;
    line-height: 32px;

    padding-top: 3%;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button-cart-lg {
    width: 15vw;
height: 8vh;

font-size: 2vw;
}

.button-cart-lg > span {
    display: flex;
    justify-content: space-around;
}

.footer {
    min-height: 85px;
    max-width: 100%;
    overflow: hidden;

    display: flex;
}

.footer-links {
    max-width: 40%;
    padding-left: 5%;

    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-links__text {
    flex-shrink: 1;
    font-size: 1.3vw;
    color:#5222D0;
    font-weight: 300;
    line-height: 32px;
}

.footer-links__text:hover, 
.information-title:hover,
.information-subtitle:hover
  {
    text-decoration: underline;
    cursor: pointer;
}

button:hover,
.company-name__text:hover,
.company-name__logo:hover,
.name:hover,
.logo-pic:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}